# settings database
DB_ENG=django.db.backends.postgresql
DB_NAME=xxxxxx
DB_USER=xxxxxx
DB_PASSWORD=xxxxxx
DB_HOST=db
DB_PORT=xxxx

# settings db_pgvector
RAGDB_NAME=ragdb
RAGDB_USER=rag
RAGDB_PASSWORD=password
RAGDB_HOST=ragdb
RAGDB_PORT=5432

# clés API
OPENAI_API_KEY=...