.venv/
.env

notes/
.vscode/
.launch.sh

__pycache__/
*.pyc

media/
staticfiles/
src/theme/static/css/dist/
src/documents/
src/apps/special/

node_modules/

*.pid
*.log

src/src/settings/develop.py
src/src/settings/production.py
src/src/utils2.py



