{% extends 'base.html' %}

{% load static template_tags%}

{% block header %}
{% endblock %}

{% block content %}


<section id="accueil" class="reachable w-full">
    <div class="flex flex-row justify-between">
        <h1 class="text-grostitre mb-4">Gestion des documents ingérés dans la base de donnée vectorielle</h1>
        <a href="{% url 'retrieval:search' %}" class="text-xs px-2 py-1 h-6 text-lightcolor-text bg-color-btn hover:bg-hovercolor-btn"> Recherche >> </a>
    </div>
    <div data-click-receiver class="w-full mb-8 flex flex-col md:flex-row md:justify-between md:gap-12">
        <div class="mb-16 md:w-1/2 md:justify-around">
            <!-- formulaire nouveau document-->
            <form class="w-full mb-6" method="post" action="." enctype="multipart/form-data" >       
                {% csrf_token %}
                <div class="mb-2 w-full flex justify-between">
                    <h1 class="text-titre">Ajouter un nouveau document: fichier txt, md, pdf ou video youtube</h1>
                    <button type="submit" name="add-documents" class="" title="Ajouter un fichier ou un lien">
                        <img class="w-4 h-4" src="{% static 'img/plus_round.svg' %}" alt="Ajouter">     
                    </button>
                </div>
                <div class="grid grid-cols-[60px_1fr] gap-y-2 gap-x-4 text-xs items-center">
        
                    <label for="{{ form.file.id_for_label }}" class="font-semibold text-gray-700 whitespace-nowrap">
                        {{ form.file.label }}
                    </label>
                    <div class="flex items-center">
                        {{ form.file }}
                    </div>

                    <label for="{{ form.uri.id_for_label }}" class="font-semibold text-gray-700 whitespace-nowrap">
                        {{ form.uri.label }}
                    </label>
                    <div class="w-full">
                        {{ form.uri }}
                    </div>

                    {% if has_special %}
                    <div class="font-semibold text-gray-700 whitespace-nowrap">
                        Liste API :
                    </div>  
                    <a href="{% url 'ingest:waiting_list' %}" class="text-xs w-80 mr-4 py-1 px-2 rounded border border-gray-300 bg-gray-50 text-gray-700 hover:bg-gray-100 cursor-pointer">
                        <span >Sélectionner dans la liste >></span>
                    </a>
                    {% endif %}
        
                </div>
            </form>

            <form method="post" action="."  enctype="multipart/form-data"> 
                {% csrf_token %}
            <div class="flex justify-between pb-4 mb-2 border-b-2">
                <div class="text-titre flex flex-col items-start">
                {% for stat in docs_stat %}
                    <button type="button" class="{{ stat.color }} hover:bg-hovercolor-line" data-status="{{ stat.status }}">{{ stat.label }}: {{ stat.count }}</button>
                {% endfor %}
                </div>
                <div class="flex flex-col justify-start items-end">
                    <button type="submit" name="ingest-documents" class="text-xs px-2 py-1 h-6 border rounded border-blue-800 bg-gray-50 hover:bg-gray-100" title="">
                        Ingérer la sélection
                    </button>
                    <span class="text-xs">Taille DB: {{db_size}}</span>
                    <span class="text-xs text-blue-500">Total chunks: {{n_chunks}}</span>
                </div>
            </div>

            <ul id="list-documents" class="text-xs flex flex-col">
                <li class="mb-2 font-bold  grid grid-cols-[40px_1fr_40px_20px_20px_20px] gap-4 items-start">
                        <span class="">Date</span>
                        <span>Titre document</span>
                        <span class="">source</span>
                        <span class="text-blue-500">chunks</span>
                        <span class=""></span>
                        <button type="button" id="check-all" class="space-x-2 cursor-pointer font-semibold">
                            <input type="checkbox" />
                        </button>
                </li>
                {% for doc in docs %}
                    <li id="{{doc.id}}" class="headline-title status-{{doc.status}} {{doc.color}} grid grid-cols-[40px_1fr_40px_20px_20px_20px] gap-4 items-start hover:bg-hovercolor-line">
                        <span class="w-16 text-left">{{doc.date|date:"d/m/y"}}</span>
                        <a href="{% url 'admin:ingest_documentref_change' doc.id %}" class="text-left">
                            <span class=" hover:font-bold">{{doc.titre}}</span>
                        </a>
                        <button type="button" class="view-doc flex justify-center"
                                data-msg=""
                                data-source="{{doc.source_type}}"
                                data-titre="{{ doc.titre }}"
                                data-video-id="{{ doc.video_id }}" 
                                data-file="{{ doc.source_url }}"
                                data-page="1"
                                data-duration="{{ doc.duration }}"
                                data-starttime="0" 
                                data-endtime="0"  
                                data-start="0" 
                                data-end="0" >
                            <img class="w-4 " src="{% static doc.source_logo %}" alt="urlvideo">
                        </button>
                        {% if doc.status == "REG" %}
                        <button type="button" class="view-chunks" 
                                data-id="{{doc.id}}"
                                data-url="{% url 'ingest:read_chunks' doc.id %}" >
                            <span class="w-12 text-right text-blue-500 hover:font-bold">{{doc.nb_chunks}}</span>
                        </button>
                        {% else %}
                        <p class="w-6 text-center text-blue-500 hover:font-bold">-</p>
                        {% endif %}
                        <button type="button" class="delete-doc" 
                                data-id="{{ doc.id }}" 
                                data-titre="{{ doc.titre }}">
                            <img class="w-4" src="{% static 'img/cross_round_black.svg' %}" />
                        </button>
                        {% if doc.status == doc.Status.NEW %}
                        <button type="button" class="doc-checkbox">
                            <input type="checkbox" class="" name="doc" value="{{doc.id}}"/>
                        </button>
                        {% endif %}
                    </li>
                {% empty %}
                    <li><span>Aucun document trouvé</span><li>
                {% endfor %}
            </ul>
            </form>
            <div class="mt-8 mb-4 flex gap-2 justify-start">
                <p class="text-xs text-slate-500 italic"> Collection:</p>
                <a href="{% url 'admin:ingest_collection_change' collection.id %}" class="">   
                    <img class="w-4 h-4" src="{% static 'img/crayon.svg' %}" alt="Modifier">     
                </a>
            </div>
        </div>

        <div class="flex flex-col md:w-1/2" data-viewer="all">
            {% include 'viewer/document_viewer.html' %}
            <div id="chunks-list" class="hidden"></div>
        </div>

    </div>
</section>
{% include "alert_box.html" with alert="alert-delete-doc" message="" act_button="hidden" act_link="" link="" back_text="Annuler" act_text="Supprimer" %}

<script src="{% static 'js/pdf.min.js' %}"></script>
<script>
  var PDF_WORKER_URL = "{% static 'js/pdf.worker.min.js' %}";
</script>
<script src="https://www.youtube.com/iframe_api"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script> {% endcomment %}
<script src="{% static 'js/playvideo.js' %}"></script>
<script src="{% static 'js/readPDF.js' %}"></script>
<script src="{% static 'js/readTXT.js' %}"></script>
<script src="{% static 'js/deletedoc.js' %}"></script>
<script src="{% static 'js/chunkslist.js' %}"></script>
<script src="{% static 'js/documentlistener.js' %}"></script>


{% endblock %}
