{% extends 'base.html' %}

{% load static template_tags%}

{% block header %}
{% endblock %}

{% block content %}


<section id="accueil" class="reachable w-full">

    <h1 class="text-grostitre mb-4">Gestion des documents ingérés dans la base de donnée vectorielle</h1>

    <div class="w-full mb-8 flex flex-col md:flex-row md:justify-between md:gap-24">
        <div class="mb-16 md:w-1/2 md:justify-around">
            <h1 class="text-titre">Documents ingérés: {{n_docs}} </h1>
            <ul class="text-xs flex flex-col mt-4">
                 



                <li class="w-full flex justify-between">
                    <div class="w-full flex justify-startfont-bold mb-2">
                        <span class="w-16">Date</span>
                        <span>Titre document</span>
                    </div>
                    <div  class="w-24 flex justify-between gap-2">
                        <span class="w-6">type</span>
                        <span class="w-8  text-blue-500">chunks</span>
                        <span class="w-6"></span>
                    </div>
                </li>
                {% for doc in docs %}
                <li class="w-full flex justify-between">
                        <div class="w-full flex justify-start">
                            <span class="w-16">{{doc.created_at|date:"d/m/y"}}</span>
                            <a href="{% url 'admin:ingest_documentref_change' doc.id %}" class="">
                                <span class="hover:font-bold">{{doc.titre}}</span>
                            </a>
                        </div>
                        <div  class="w-24 flex justify-between gap-2">
                            {% comment %} <span class="mr-2">{{doc.nb_chunks}}</span> {% endcomment %}
                            <a href="{% url 'ingest:view_document' doc.id %}" class="">
                                <span class="w-6 text-red-500 hover:font-bold">PDF</span>
                            </a>
                            <a href="{% url 'ingest:view_document' doc.id %}" class="">
                                <span class="w-8 text-blue-500 hover:font-bold">xx</span>
                            </a>
                            <a href="{% url 'ingest:remove_document' doc.id %}" class="">
                                <img class="h-4" src="{% static 'img/cross_round_black.svg' %}" />
                            </a>
                        </div>
                </li>
                {% empty %}
                <li><span>Aucun document trouvé</span><li>
                {% endfor %}

            </ul>

        </div>

        <div class="flex flex-col md:w-1/2">

            

            
            
            <form class="w-full" method="post" action="." enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="mb-4 w-full flex justify-between">
                    <h1 class="text-titre">Ajouter un nouveau document:</h1>
                    <button type="submit" name="submit_file" class="" title="Ajouter un fichier ou un lien">
                        <img class="w-4 h-4" src="{% static 'img/plus_round.svg' %}" alt="Ajouter">     
                    </button>
                </div>
                <div class="text-xs flex flex-col gap-0">
                    {{ form }}
                </div>
            </form>

            <div class="w-full mt-4 mb-4 flex flex-col gap-4 md:flex-row">
                <div class="w-3/4 mt-4 mb-4 flex flex-col gap-4 justify-start md:flex-row">    

                     <h1 class="text-titre">Paramètres:</h1>
                     <ul class="text-xs marker:text-black-500 list-disc">
                         <li class="flex justify-between gap-12"><span>Collection: </span><span>{{collection_name}}</span></li>
                         <li class="flex justify-between gap-12"><span>Modèle: </span><span>{{embedding_model}}</span></li>
                         <li class="flex justify-between gap-12"><span>Chunk size: </span><span>{{chunk_size}} caractères</span></li>
                         <li class="flex justify-between gap-12"><span>Chunk overlap: </span><span>{{chunk_overlap}} caractères</span></li>
                     </ul>
                </div>
                <div class="w-1/4 mt-4 mb-4 flex gap-4 justify-end">
                 <p class="text-xs italic"> Modifier:</p>
                    <a href="{% url 'admin:ingest_collection_change' collection.id %}" class="">   
                    <img class="w-4 h-4" src="{% static 'img/crayon.svg' %}" alt="Modifier">     
                    </a>
                 </div>
             
             </div>



                
            </ul>


            
        

    </div>
       


</section>

{% endblock %}
