{% extends 'base.html' %}

{% load static template_tags%}

{% block header %}
{% endblock %}

{% block content %}


<section id="special" class="reachable w-full">
    <form class="w-full mb-2" method="post" action="." enctype="multipart/form-data" >       
        {% csrf_token %}
    <div class="flex justify-between mb-6 gap-4">
        <div class="flex justify-start gap-4">
            <h1 class="text-titre">{{n_docs}} videos: </h1>
            <button type="button" data-status="NEW" class="display-doc text-xs px-2 py-1 h-6 bg-blue-100" title="">
                Nouveaux: {{n_new}}
            </button>
            <button type="button" data-status="REG" class="display-doc text-xs px-2 py-1 h-6 bg-green-100" title="">
                Ingérés: {{n_reg}}
            </button>
            <button type="button" data-status="ERR" class="display-doc text-xs px-2 py-1 h-6 bg-red-100" title="">
                Introuvables: {{n_err}}
            </button>
        
        </div>
        <div class="flex justify-end gap-4">
            <a href="{% url 'ingest:update_waiting_list' %}" class="text-xs px-2 py-1 h-6 bg-yellow-200" >
                Mettre à jour la liste
            </a>
            <button type="submit" class="text-xs px-2 py-1 h-6 bg-blue-200" title="">
                Ingérer la sélection
            </button>
            <a href="{% url 'ingest:documents_list' %}" class="text-xs px-2 py-1 h-6 text-lightcolor-text bg-color-btn hover:bg-hovercolor-btn" >
                Ingestion >>
            </a>
        </div>
    </div>
    <ul id="list-documents" data-click-receiver class="text-xs max-w-5xl flex flex-col ">
        <li class="mb-2 font-bold grid grid-cols-[100px_1fr_80px_100px] gap-4 items-start">
        
                <span class="">Video_id</span>
                <span>Titre document</span>
                <span class="">date</span>
                <label class="flex items-start space-x-2 cursor-pointer font-semibold">
                    <input type="checkbox" id="check-all" />
                    <span>Tout cocher / décocher</span>
                </label>
        </li>
        {% for doc in docList %}
            <li id="{{doc.id}}" class="headline-title status-{{doc.status}} {{ doc.color }}
                grid grid-cols-[100px_1fr_80px_100px] gap-4 items-start hover:font-bold">
                <span class="w-16 text-left whitespace-nowrap">{{ doc.video_id}}</span>
                <span class="">{{doc.titre}}</span>
                <span class="">{{doc.datef}}</span>
                {% if doc.status == doc.Status.NEW %}
                    <input type="checkbox" class="doc-checkbox" name="doc" value="{{doc.video_id}}"/>
                {%endif%}
            </li>
        {% empty %}
            <li><span>Aucun document trouvé</span><li>
        {% endfor %}
    </ul>
</form>

</secion>
<script src="{% static 'js/selectcheckbox.js' %}"></script>

{% endblock %}
