{% load static %}

 <!-- Fenêtre de visualisation video -->
<div class="display-zone" data-block-type="YT">

  <!-- titre et horodatage -->  
  <div data-element="headline" class="hidden mb-2 justify-between gap-4" >
    <p data-element="titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
    <div class="flex gap-1">
      <span data-element="timestamp" class="text-sm  text-black font-mono"></span>
      <button data-action="closeVideo" class="ml-4 text-sm">✕</button>
    </div>
  </div>

  <!-- Miniature + contrôles -->
  <div data-element="thumbnail-frame" class="hidden aspect-video overflow-hidden relative bg-black shadow-lg">
    <img data-element="thumbnail" src="" alt="" class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black/30"></div>
    
    
    <!-- Bouton Logo YT (play video) -->
    <button data-action="play" class="absolute inset-0 flex items-center justify-center group" aria-label="Lire la vidéo">
      <div class="flex items-center justify-center shadow-xl transition-all duration-150 group-hover:scale-110">
        <img class="w-14" src="{% static "img/youtube.svg" %}" alt="bouton youtube"> 
      </div>
    </button>
    
  </div>   
  <!-- Conteneur iframe YT API -->
  <div data-element="player-iframe" class="hidden overflow-hidden shadow-lg" style="position:relative; width:100%; padding-top:56.25%;">
    <div id="yt-player" data-element="yt-player" style="position:absolute; top:0; left:0; width:100%; height:100%;"></div>
  </div>     
</div>       
<!-- Fin fenêtre de visualisation video -->


<!-- Fenêtre de visualisation pdf -->
<div class="display-zone" data-block-type="PDF">

  <!-- Titre et pagination -->
  <div data-element="headline" class="hidden mb-2 justify-between gap-4" >
    <p data-element="titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
    <div class="flex gap-1 text-sm">
      <button data-action="pageDown" class="">◄</button>
      <span>Page <span data-element="current-page">1</span> / <span data-element="total-pages">?</span></span>
      <button data-action="pageUp" class="">►</button>
      <button data-action="closePdf" class="ml-4 text-sm">✕</button>
    </div>
  </div>
  <!-- Zone scrollable -->
  <div data-element="container" class="hidden flex flex-col border border-gray-300 overflow-hidden bg-gray-100">
    <div data-element="viewer" class="flex-1 overflow-y-auto bg-slate-300 flex flex-col justify-between items-center gap-4 p-2 min-h-0" >
      <!-- Les canvas des pages s'insèrent ici -->
    </div>
  </div>
</div>
<!-- Fin fenêtre de visualisation pdf -->


<!-- Fenêtre de visualisation txt -->
<div class="display-zone" data-block-type="TXT">

  <!-- Titre et pagination -->
  <div data-element="headline" class="hidden mb-2 justify-between gap-4" >
    <p data-element="titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
    <div class="flex gap-1 text-sm">
      <span data-element="indexing" class="text-sm  text-black font-mono"></span>
      <button data-action="closeTxt" onclick="closeTxt()" class="ml-4 text-sm">✕</button>
    </div>
  </div>
  <!-- Zone scrollable -->
  <div data-element="container" class="hidden flex flex-col border border-gray-300 rounded-lg overflow-hidden bg-white">
    <div data-element="viewer" class="flex-1 overflow-y-auto p-6 min-h-0 font-mono text-xs text-gray-800 whitespace-pre-wrap leading-relaxed">
    </div>
  </div>
</div>
<!-- Fin fenêtre de visualisation txt -->

     