{% extends 'base.html' %}

{% load static template_tags%}

{% block header %}
{% endblock %}

{% block content %}


<section id="accueil" class="reachable w-full">
    <div class="flex flex-row justify-between">
        <h1 class="text-grostitre mb-4">{{title}}</h1>
        <a href="{% url 'ingest:documents_list' %}" class="text-xs px-2 py-1 h-6 bg-slate-200"> << Ingestion </a>
    </div>


    <div class="w-full mb-8 flex flex-col md:flex-row md:justify-between md:gap-12">
        
      {% comment %} Demi-écran de gauche {% endcomment %}
        <div class="mb-16 md:w-1/2 md:justify-around">

            <div class="mb-8">
                <h1 class="text-titre mb-2">Prompt: </h1>
                <form class="w-full flex flex-col gap-2" method="post" action=".">
                {% csrf_token %}
                <textarea id="input" class="w-full text-xs px-4 py-1 h-24 " rows='6' placeholder="Ecrivez ici..." name="prompt">{{prompt}}</textarea>
                <button id="send_prompt" class="text-xs px-2 py-1 h-6 w-24 bg-slate-200" data-url=" {% url 'retrieval:search' %} " >Envoyer</button>
                </form>
            </div>

            <div class="flex flex-col justify-between">
                <h1 class="text-titre mb-2">Liste des chunks sélectionnés: </h1>
            
                <ul class="w-full mb-8 text-xs flex flex-col gap-2">

                    {% for result in results %}
                    <div class="chunk-card">
                      <div class="chunk-title font-bold flex justify-between">
                        <div class="flex flex-start gap-4">
                            <span>{{ forloop.counter }}.</span>
                            <a href="{{ result.chunk.metadata.source_url }}" target="_blank">
                                <span>{{ result.chunk.metadata.source }}</span>
                            </a>
                            {% if result.chunk.metadata.source_type == "YT" %}
                                <button 
                                        data-video-id="{{ result.chunk.metadata.video_id }}" 
                                        data-start="{{ result.chunk.metadata.start_time }}" 
                                        data-end="{{ result.chunk.metadata.end_time }}"
                                        data-titre="{{ result.chunk.metadata.source }}"
                                        onclick="selectVideo(this)">
                                    <img class="w-4" src="{% static "img/youtube.svg" %}" alt="urlvideo">
                                </button>
                                <span>{{ result.chunk.metadata.start_time }}s > {{ result.chunk.metadata.end_time }}s</span>
                            {% elif result.chunk.metadata.source_type == "PDF" %}
                                <button 
                                        data-titre="{{ result.chunk.metadata.source }}"
                                        data-file="{{ result.chunk.metadata.source_url }}"
                                        data-page="{{ result.chunk.metadata.page_label }}" 
                                        onclick="selectPdf(this)">
                                    <img class="w-4" src="{% static "img/PDF.svg" %}" alt="pdf">
                                </button>
                                <span>page: {{ result.chunk.metadata.page_label }}</span>
                            {% elif result.chunk.metadata.source_type == "TXT" %}
                                <button 
                                        data-titre="{{ result.chunk.metadata.source }}"
                                        data-file="{{ result.chunk.metadata.source_url }}"
                                        data-start="{{ result.chunk.metadata.start_index }}" 
                                        data-end="{{ result.chunk.metadata.end_index }}" 
                                        onclick="selectText(this)">
                                    <img class="w-4" src="{% static "img/TXT.svg" %}" alt="txt">
                                </button>
                                <span>index: [{{ result.chunk.metadata.start_index }}-{{ result.chunk.metadata.end_index }}]</span>

                            {% endif %}
                        </div>
                        <div><span> [similarité : {{ result.similarity }}]</span></div>
                      </div>
                      <div class="chunk-content">
                          {{ result.chunk.page_content }}
                      </div>
                    </div>
                    {% endfor %} 
                </ul>
             </div>
             <div class="mt-8 mb-4 flex gap-2 justify-start">
                <p class="text-xs text-slate-500 italic"> Configuration retriever:</p>
                <a href="{% url 'admin:retrieval_retrivconfig_change' 1 %}" class="">   
                    <img class="w-4 h-4" src="{% static 'img/crayon.svg' %}" alt="Modifier">     
                </a>
            </div>
        </div>

      {% comment %} demi-écran de droite {% endcomment %}

        <div class="flex flex-col md:w-1/2">

        <!-- Fenêtre de visualisation video -->
        <div class="">

          <!-- titre et horodatage -->  
          <div id="thumb-titre-horodate" class="hidden mb-2 justify-between gap-4" >
            <p id="thumb-titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
            <div class="flex gap-1">
              <span id="ts-start" class="text-sm  text-black font-mono"></span>
              <span class="text-sm text-black">→</span>
              <span id="ts-end" class="text-sm  text-black font-mono"></span>
              <button onclick="closePlayer()" class="ml-4 text-sm">✕</button>
            </div>
          </div>

          <!-- Miniature + contrôles -->
          <div id="player-thumb" class="hidden aspect-video overflow-hidden relative bg-black shadow-lg">
            <img id="thumb-img" src="" alt="" class="w-full h-full object-cover" />
            <div class="absolute inset-0 bg-black/30"></div>
            
            
            <!-- Bouton Logo YT (play video) -->
            <button id="btn-play" onclick="playVideo()" class="absolute inset-0 flex items-center justify-center group" aria-label="Lire la vidéo">
              <div class="flex items-center justify-center shadow-xl transition-all duration-150 group-hover:scale-110">
                <img class="w-14" src="{% static "img/youtube.svg" %}" alt="bouton youtube"> 
              </div>
            </button>
            
          </div>   
          <!-- Conteneur iframe YT API -->
          <div id="player-iframe" class="hidden overflow-hidden shadow-lg" style="position:relative; width:100%; padding-top:56.25%;">
            <div id="yt-player" style="position:absolute; top:0; left:0; width:100%; height:100%;"></div>
          </div>     
        </div>       
        <!-- Fin fenêtre de visualisation video -->


        <!-- Fenêtre de visualisation pdf -->
        <div>
    
          <!-- Titre et pagination -->
          <div id="pdf-titre-pagination" class="hidden mb-2 justify-between gap-4" >
            <p id="pdf-titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
            <div class="flex gap-1 text-sm">
              <button onclick="changePage(-1)" class="">◄</button>
              <span>Page <span id="pdf-page-current">1</span> / <span id="pdf-page-total">?</span></span>
              <button onclick="changePage(1)" class="">►</button>
              <button onclick="closePdf()" class="ml-4 text-sm">✕</button>
            </div>
          </div>
          <!-- Zone scrollable -->
          <div id="pdf-viewer" class="hidden flex-col border border-gray-300 overflow-hidden bg-gray-100">
        
            <div id="pdf-container" class="flex-1 overflow-y-auto bg-slate-300 flex flex-col justify-between items-center gap-4 p-2 min-h-0" >
              <!-- Les canvas des pages s'insèrent ici -->
            </div>
          </div>
        </div>
        <!-- Fin fenêtre de visualisation pdf -->

       <!-- Fenêtre de visualisation txt -->
        <div>   
    
          <!-- Titre et pagination -->
          <div id="txt-titre-index" class="hidden mb-2 justify-between gap-4" >
            <p id="txt-titre" class="text-black text-sm font-medium drop-shadow truncate"></p>
            <div class="flex gap-1 text-sm">
              <span>Index: </span>
              <span id="start-index" class="text-sm  text-black font-mono"></span>
              <span class="text-sm text-black">→</span>
              <span id="end-index" class="text-sm  text-black font-mono"></span>
              <button onclick="closeTxt()" class="ml-4 text-sm">✕</button>
            </div>
          </div>
          <!-- Zone scrollable -->
          <div id="txt-viewer" class="hidden flex-col border border-gray-300 rounded-lg overflow-hidden bg-white">
            <div id="txt-container" class="flex-1 overflow-y-auto p-6 min-h-0 font-mono text-xs text-gray-800 whitespace-pre-wrap leading-relaxed">
            </div>
          </div>
        </div>
        <!-- Fin fenêtre de visualisation txt -->

            <div class="hidden w-full mt-12 mb-4 flex flex-col gap-4 md:flex-row">
                <div class="w-3/4  mb-4 flex flex-col gap-4 justify-start md:flex-row">    

                     <h1 class="text-titre">Paramètres:</h1>
                     <ul class="text-xs marker:text-black-500 list-disc">
                         <li class="flex justify-between gap-12"><span>Collection: </span><span>{{collection_name}}</span></li>
                         <li class="flex justify-between gap-12"><span>Modèle: </span><span>{{embedding_model}}</span></li>
                         <li class="flex justify-between gap-12"><span>Chunk size: </span><span>{{chunk_size}} caractères</span></li>
                         <li class="flex justify-between gap-12"><span>Chunk overlap: </span><span>{{chunk_overlap}} caractères</span></li>
                     </ul>
                </div>
            </div>


        </div>
    </div>





</section>

<script src="{% static 'js/pdf.min.js' %}"></script>
<script>
  var PDF_WORKER_URL = "{% static 'js/pdf.worker.min.js' %}";
</script>
<script src="https://www.youtube.com/iframe_api"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script> {% endcomment %}
<script src="{% static 'js/playvideo.js' %}"></script>
<script src="{% static 'js/readPDF.js' %}"></script>
<script src="{% static 'js/readTXT.js' %}"></script>



{% endblock %}
